@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@theme {
  --color-add: rgba(56, 58, 72, 0.6);
  --color-navLine: rgba(158, 185, 255, 0.2);
}
